.month {
  width: 500px;
  border: 1px solid red;
  padding: 10px;
}
.month .week {
  display: flex;
  justify-content: space-between;
}
.month .week .day {
  width: 100%;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
.month .week .day-name {
  width: 100%;
  font-size: 15px;
  border: 1px solid black;
  text-align: center;
  padding: 10px 0;
  color: red;
}
